@tailwind base;
@tailwind components;
@tailwind utilities;

.main-font {
  font-family: "Proxima Nova", Verdana, "Avenir Next";
}

.main-bg {
  background-color: #1b2430;
}

.btn-color {
  background-color: #51557e;
}

.bg-shadow {
  box-shadow: inset 0 -50px 40px 0px #1b2430;
}

////light mode

.main-bg .light {
  background-color: #586284;
}

.btn-color .light {
  background-color: #c7cee4;
}

.bg-shadow .light {
  box-shadow: inset 0 -50px 40px 0px #586284;
}
